.impressum, 
.datenschutz {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.impressum h3,
.datenschutz h3 {
    font-size: 32px;
    font-weight: bold;
}

.impressum h4,
.datenschutz h4 {
    font-size: 24px;
    font-weight: bold;
}

.impressum p,
.datenschutz p {
    font-size: 18px;
}